:root {
	--white: #fdfdfd;
	--pink-500: #f720c0;
	--gray-250: #333333;
	--gray-500: #171717;
	--blue-500: #3050d0;
	--green-500: #4ee040;
}

html {
	font-family: "Ubuntu Mono", monospace;
	font-size: 16px;
	color: #fdfdfd;
	background-color: var(--gray-500);
}

body {
	line-height: 3rem;
}

h1,
p {
	font-family: "Ubuntu Mono", monospace;
}

a {
	text-decoration: none;
	font-family: "Roboto", sans-serif;
	font-size: 1.5rem;
	color: var(--white);
}

a:hover {
	color: var(--green-500);
}

header {
	padding: 1rem 6rem;
	background: var(--gray-250);

	display: flex;
	justify-content: space-between;
}

.logo {
	font-size: 2rem;
	font-family: "Antic Didone", serif;
	font-weight: bold;
}

.logoAnchor:hover {
	text-decoration: none;
}

.menu {
	display: flex;
	gap: 2rem;
}

main {
	background: var(--gray-500);

	display: flex;
	flex-direction: column;

	align-items: center;

	padding: 3rem 6rem;
	gap: 1rem;
}

.perfilPhoto {
	width: 19rem;
	height: 19rem;

	margin-bottom: 1rem;

	border-radius: 9.5rem;
	border: 5px solid var(--green-500);
}

main > p {
	font-size: 1.5rem;
}

main > p::before {
	content: "~$ ";
	color: var(--pink-500);
}

.name {
	color: var(--green-500);
}

@keyframes typewriter {
	from {
		color: transparent;
	}
	to {
		color: var(--pink-500);
	}
}

.typewriter:after {
	content: "_";

	animation-name: typewriter;
	animation-duration: 700ms;
	animation-iteration-count: infinite;
}

.tech {
	margin-top: 5rem;
	width: 100%;
}

h2 {
	font-size: 2rem;
	font-family: "Roboto", sans-serif;
}

.techList {
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	gap: 2rem;

	padding: 0 1rem;
}

.techItems {
	font-size: 1.5rem;

	display: flex;

	align-items: center;
	justify-content: flex-start;

	gap: 2rem;
}

.techItems > img {
	width: 2rem;
	height: 2rem;
}

@media (max-width: 1024px) {
	.techList {
		grid-template-columns: 33% 33% 33%;
	}
}

@media (max-width: 768px) {
	.menu {
		display: none;
	}

	.techList {
		grid-template-columns: 50% 50%;
	}
}

@media (max-width: 570px) {
	main {
		padding: 3rem 2rem;
	}

	.perfilPhoto {
		width: 15rem;
		height: 15rem;
	}

	.tech {
		text-align: center;

		gap: 2rem;
	}

	.techList {
		grid-template-columns: 100%;
	}
}
