:root {
  --white: #fdfdfd;
  --pink-500: #d04560;
  --gray-250: #333333;
  --gray-500: #171717;
  --blue-500: #3050d0;
}

html {
  font-family: "Ubuntu Mono", monospace;
  font-size: 16px;
  color: #fdfdfd;
  background-color: var(--gray-500);
}

body {
  line-height: 3rem;
}

h1,
p {
  font-family: "Ubuntu Mono", monospace;
}

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: var(--white);
}

a:hover {
  color: var(--pink-500);
}

header {
  padding: 1rem 6rem;
  background: var(--gray-250);

  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 2rem;
  font-family: "Shadows Into Light", cursive;
}

.logoAnchor:hover {
  text-decoration: none;
}

.menu {
  display: flex;
}

.menuItem {
  margin: 0 1rem;
  align-self: flex-end;
}

main {
  background: var(--gray-500);

  display: flex;
  flex-direction: column;

  align-items: center;

  padding: 3rem 6rem;
}

.perfilPhoto {
  width: 19rem;
  height: 19rem;

  margin-bottom: 1rem;

  border-radius: 9.5rem;
  border: 5px solid var(--pink-500);
}

main > p {
  font-size: 1.5rem;
}

main > p::before {
  content: "~$ ";
  color: var(--pink-500);
}

.name {
  color: var(--pink-500);
}

@keyframes typewriter {
  from {
    color: transparent;
  }
  to {
    color: var(--pink-500);
  }
}

.typewriter:after {
  content: "_";

  animation-name: typewriter;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.tech {
  margin-top: 10rem;

  width: 100%;
}

h2 {
  font-size: 2rem;
  font-family: "Roboto", sans-serif;
}

.techList {
  display: flex;

  justify-content: space-between;
}

.techItems {
  font-size: 1.5rem;
  display: flex;

  align-items: center;

  margin: 0 1rem;
}

.techItems > p::before {
  content: "--";
  color: transparent;
}

.techItems > img {
  width: 2rem;
  height: 2rem;
}
